{
        email {env.EMAIL}
#       acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
}

(trusted_proxy_list) {
        trusted_proxies 192.168.178.0/24 
}

*.{env.DUCKDNS_DOMAIN}.duckdns.org, {env.DUCKDNS_DOMAIN}.duckdns.org {
        tls {
                dns duckdns {env.DUCKDNS_TOKEN}
                resolvers 1.1.1.1 1.0.0.1
        }

################################
########## monitoring ##########
################################

        @dozzle host dozzle.{env.DUCKDNS_DOMAIN}.duckdns.org
        handle @dozzle {
                reverse_proxy monitoring_dozzle:8080 {
                        import trusted_proxy_list
                        }

                forward_auth networking_authelia:9091 {
                        uri /api/authz/forward-auth
                        copy_headers Remote-User Remote-Groups Remote-Email Remote-Name
                        import trusted_proxy_list
                }
        }

        @uptime-kuma host uptime-kuma.{env.DUCKDNS_DOMAIN}.duckdns.org
        handle @uptime-kuma {
                reverse_proxy monitoring_uptime-kuma:3001 {
                        import trusted_proxy_list
                        }

                forward_auth networking_authelia:9091 {
                        uri /api/authz/forward-auth
                        copy_headers Remote-User Remote-Groups Remote-Email Remote-Name
                        import trusted_proxy_list
                }
        }

###############################
########## dashboard ##########
###############################

        @heimdall host heimdall.{env.DUCKDNS_DOMAIN}.duckdns.org
        handle @heimdall {
                reverse_proxy dashboard_heimdall:80 {
                        import trusted_proxy_list
                }

                forward_auth networking_authelia:9091 {
                        uri /api/authz/forward-auth
                        copy_headers Remote-User Remote-Groups Remote-Email Remote-Name
                        import trusted_proxy_list
                }
        }

################################
########## networking ##########
################################

        @authelia host authelia.{env.DUCKDNS_DOMAIN}.duckdns.org
        handle @authelia {
                reverse_proxy networking_authelia:9091 {
                        import trusted_proxy_list
                        }
        }

        @wireguard host wireguard.{env.DUCKDNS_DOMAIN}.duckdns.org
        handle @wireguard {
                reverse_proxy networking_wireguard:51821 {
                        import trusted_proxy_list
                        }

                forward_auth networking_authelia:9091 {
                        uri /api/authz/forward-auth
                        copy_headers Remote-User Remote-Groups Remote-Email Remote-Name
                        import trusted_proxy_list
                }
        }

        @pihole host pihole.{env.DUCKDNS_DOMAIN}.duckdns.org
        handle @pihole {
                reverse_proxy networking_pihole:80
        }

#############################
########## media ##########
#############################

        @radarr host radarr.{env.DUCKDNS_DOMAIN}.duckdns.org
        handle @radarr {
                reverse_proxy media_radarr:7878 {
                        import trusted_proxy_list
                        }

                forward_auth networking_authelia:9091 {
                        uri /api/authz/forward-auth
                        copy_headers Remote-User Remote-Groups Remote-Email Remote-Name
                        import trusted_proxy_list
                }
        }

        @sonarr host sonarr.{env.DUCKDNS_DOMAIN}.duckdns.org
        handle @sonarr {
                reverse_proxy media_sonarr:8989 {
                        import trusted_proxy_list
                        }

                forward_auth networking_authelia:9091 {
                        uri /api/authz/forward-auth
                        copy_headers Remote-User Remote-Groups Remote-Email Remote-Name
                        import trusted_proxy_list
                }
        }

        @sabnzbd host sabnzbd.{env.DUCKDNS_DOMAIN}.duckdns.org
        handle @sabnzbd {
                reverse_proxy media_sabnzbd:8080 {
                        import trusted_proxy_list
                        }

                forward_auth networking_authelia:9091 {
                        uri /api/authz/forward-auth
                        copy_headers Remote-User Remote-Groups Remote-Email Remote-Name
                        import trusted_proxy_list
                }
        }

        @tubearchivist host tubearchivist.{env.DUCKDNS_DOMAIN}.duckdns.org
        handle @tubearchivist {
                reverse_proxy media_tubearchivist:8000 {
                        import trusted_proxy_list
                        }

                forward_auth networking_authelia:9091 {
                        uri /api/authz/forward-auth
                        copy_headers Remote-User Remote-Groups Remote-Email Remote-Name
                        import trusted_proxy_list
                }
        }

}