#{ 
#    email <fill-in-your-email-address>
#    acme_ca https://acme-staging-v02.api.letsencrypt.org/directory
#}

mk-stream.duckdns.org {
    reverse_proxy jellyfin:8096
}

mk-search.duckdns.org {
    reverse_proxy jellyseerr:5055
}